.select {
  border: 1px solid rgba(38, 38, 38, 0.12);
  padding: 9px 15px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.form__input-phone {
  flex: 1;
}
